#board {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.box {
    /* largeur de 75pixel */
    width: 75px;
    /* hauteur de 75pixel */
    height: 75px;
    /* bord de 1 pixel solide et couleur noir */
    border: 1px solid black;
    /* Arrière plan de couleur variante du jaune */
    background-color: rgba(212, 250, 76);
    /* Taille de police de 1em(equivalent de 15pixel) */
    font-size: 1em;
    /* Centrage du texte */
    text-align: center;
    /* a revoir */
    line-height: 75px;
    /* marge (externe,???) de 5px */
    margin: 0 50px 20% 0;
    /* les cubes apparaissent en 1 seconde */
    animation: appear 1s;
    /* arrondissement de 7 pixel des bordures */
    border-radius: 6px;
    /* Changement du curseur de la souris en pointeur */
    cursor: pointer;
    /* Les cubes prennent : 0.8 seconde pour changer la couleur de fond, la couleur du texte lors du cliquage. */
    transition: background-color 0.8s, color 0.8s, transform 0.8s;

}

/* Couleurs par défaut des cubes */
.box-valid {
    background-color: #ccc;
    color: #aaa;
    transform: scale(0.8);
}

/* Erreur dans l'ordre de sélections de cubes */
.box.error {
    color: rgb(144, 58, 58);
    background-color: rgb(255, 160, 190);
}

/* cubes validés dans le bon ordre */
.box.success {
    color: rgb(11, 138, 22);
    background-color: rgb(172, 251, 172);
}

/* Cube déja sélectionné */
.box.notice {
    color: rgb(18, 16, 151);
    background-color: rgb(184, 217, 255);
    cursor: not-allowed;
}

/* Comment apparaissent les cubes */
@keyframes appear {
    from {
        transform: scale(0) rotate(180deg);
    }

    to {
        transform: scale(1) rotate(0deg);
    }
}

/* ********************TIMER**************** */

.content-cronometer {
    background-color: #264653;
    height: 100%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    margin-top: 1em;
    padding: 1em;
}

.time-container {
    background-color: #000;
    border-radius: 20px;
    margin-left: 8px;
    margin-right: 8px;
    height: 60px;
    text-align: center;
    color: #2a9d8f;
    font-size: 45px;
    padding: 5px 0 0 5px;
}

.time-container .separators {
    color: #2a9d8f;
    font-size: 45px;
}