* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.controls {
    text-align: center;
    margin-top: 1em;
}

button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 1em;
    border: none;
    border-radius: 8px;
    background-color: #e76f51;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: #d65a3f;
    }
}

input[type="number"] {
    padding: 8px;
    font-size: 1em;
    width: 60px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

#board {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

@keyframes flash {
    0% {
        background-color: #fff;
    }

    50% {
        background-color: #f0f0f0;
    }

    100% {
        background-color: #fff;
    }
}

#board.flash {
    animation: flash 0.5s ease;
}

.box {
    width: 75px;
    height: 75px;
    border: 1px solid black;
    background-color: rgba(212, 250, 76);
    font-size: 1em;
    text-align: center;
    line-height: 75px;
    margin: 0 50px 20% 0;
    animation: appear 1s;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.8s, color 0.8s, transform 0.8s;
}

.box-valid {
    background-color: #ccc;
    color: #aaa;
    transform: scale(0.8);
}

.box.error {
    color: rgb(144, 58, 58);
    background-color: rgb(255, 160, 190);
}

.box.success {
    color: rgb(11, 138, 22);
    background-color: rgb(172, 251, 172);
}

.box.notice {
    color: rgb(18, 16, 151);
    background-color: rgb(184, 217, 255);
    cursor: not-allowed;
}

@keyframes appear {
    from {
        transform: scale(0) rotate(180deg);
    }

    to {
        transform: scale(1) rotate(0deg);
    }
}

/* ********************TIMER**************** */
.content-cronometer {
    background-color: #264653;
    height: 100%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    margin-top: 1em;
    padding: 1em;
}

.time-container {
    background-color: #000;
    border-radius: 20px;
    margin-left: 8px;
    margin-right: 8px;
    height: 60px;
    text-align: center;
    color: #2a9d8f;
    font-size: 45px;
    padding: 5px 0 0 5px;
}

.time-container .separators {
    color: #2a9d8f;
    font-size: 45px;
}